{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
      <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">Password reset complete.</h1>
        <br>

      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Now you can redirect to login page.</p>
        <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a href="{% url 'login' %}">Login</a></button>


    </div>
  </div>
</section>

{% endblock %}