{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
      <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">Password reset sent.</h1>
        <br>

      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We mailed you some of the functionality that can be needed in your process.Follow the given steps there.</p>


    </div>
  </div>
</section>
{% endblock %}