
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Forget Your Password</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Enter your email to reset the password and continue to reset.Check out your mail to continue the process.</p>
    </div>
    <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
    <form action="" method="POST">
        {% csrf_token %}
 <div class="relative flex-grow w-full">
      {{ form|crispy }}
 </div>


      <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Send</button>
       </form>
    </div>
  </div>
</section>
{% endblock %}